body {
    font-family: Arial, Arial, Helvetica, sans-serif sans-serif;
    line-height: 1.6;
}


nav {
    background-color: rgb(85, 114, 168);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(85, 114, 168);
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
    margin: 10px;
    border: 1px solid rgb(12 12 12 / 30%);
    padding: 2px;
    box-shadow: 0 0 30px rgb(104, 103, 103);
}

p {
    padding: 0;
}

aside {
    width: 20em;
    height: auto;
    margin: 1em;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
